<launch>
    <!-- 地面控制节点 -->
    <node pkg="ground_control" type="ground" name="ground" output="screen">
        <!-- 无人机数量 -->
        <param name="drone_num" value="2" />
        
        <!-- 编队数量 (每个无人机有几个目标点) -->
        <param name="cmd_num" value="2" />
        
        
        <rosparam param="cmd_pose">
            [ 
                0.0, 0.0, 5.0,   
                10.0, 0.0, 5.0,  
                0.0, 5.0, 5.0,   
                10.0, 5.0, 5.0,  
            ]
        </rosparam>
    </node>
</launch>