<launch>
    <!-- 地面控制节点 -->
    <node pkg="ground_control" type="ground" name="ground" output="screen">
        <!-- 无人机数量 -->
        <param name="drone_num" value="5" />
        
        <!-- 编队数量 (每个无人机有几个目标点) -->
        <param name="cmd_num" value="6" />
        
        
        <rosparam param="cmd_pose">
            [ 
                0.0, 0.0, 1.2,   
                0.0, 0.0, 1.2,
                -1.0, 1.0, 1.2,
                -3.0, 2.0, 1.2,
                -4.0, 0.0, 1.2,
                -2.0, -1.0, 1.2,

                0.0, 0.0, 1.2,   
                -1.0, 1.0, 1.2,
                -1.0, 0.0, 1.2,
                -1.0, 0.0, 1.2,
                -1.0, 0.0, 1.2,
                -1.0, 0.0, 1.2,

                0.0, 0.0, 1.2,   
                0.0, -1.0, 1.2,
                1.0, -1.0, 1.2,
                2.0, 1.0, 1.2,
                0.0, 2.0, 1.2,
                0.0, 2.0, 1.2,

                0.0, 0.0, 1.2,   
                -1.0, 2.0, 1.2,
                0.0, 1.0, 1.2,
                -1.0, -1.0, 1.2,
                1.0, -2.0, 1.2,
                1.0, -2.0, 1.2,

                0.0, 0.0, 1.2,   
                0.0, -2.0, 1.2,
                1.0, -1.0, 1.2,
                3.0, -2.0, 1.2,
                4.0, 0.0, 1.2,
                2.0, 1.0, 1.2, 
            ]
        </rosparam>
    </node>
</launch>